/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.env
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
GPATH
GRTAGS
GTAGS
tags
tags.lock
tags.temp
